
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    function getUserData(userId) {
      return get(/databases/$(database)/documents/users/$(userId)).data;
    }
    
    function isApproved(userId) {
      return exists(/databases/$(database)/documents/users/$(userId))
        && getUserData(userId).status == 'approved';
    }

    function isAdmin(userId) {
       return exists(/databases/$(database)/documents/users/$(userId))
        && getUserData(userId).role == 'admin';
    }
    
    match /users/{userId} {
      // Allow user to create their own doc if it doesn't exist.
      // A regular user must be 'pending' and 'user'.
      // An admin user can be created as 'approved' and 'admin'.
      allow create: if request.auth != null 
                    && request.auth.uid == userId
                    && (
                      (request.resource.data.status == 'pending' && request.resource.data.role == 'user') ||
                      (request.resource.data.status == 'approved' && request.resource.data.role == 'admin')
                    );

      // Users can read their own document.
      allow get: if request.auth != null && request.auth.uid == userId;

      // Only an admin can update a user document (to approve them or change their role).
      allow update: if request.auth != null && isAdmin(request.auth.uid);
      
      // Only an admin can delete users or read the full list.
      allow delete, list: if request.auth != null && isAdmin(request.auth.uid);
    }
    
    match /projects/{projectId} {
      // An admin or an approved user can read, write, create, delete projects.
      allow read, write, create, delete: if request.auth != null && (isAdmin(request.auth.uid) || isApproved(request.auth.uid));
    }

    match /projects/{projectId}/{document=**} {
       // An admin or an approved user can access all sub-collections.
       allow read, write: if request.auth != null && (isAdmin(request.auth.uid) || isApproved(request.auth.uid));
    }
  }
}
